<head>
        <title>TP3</title>
        <meta charset="UTF-8">        
</head>
    <body>
        <form method="post" action="./chose.php" >
                Bonjour voici mon calendrier 
            <p>                 
                <label for="login">login</label><input type="text" name="login" style="width: 100px" />
                <br>
                <br>
                <label for="password">password</label><input type="password" name="password" style="width: 100px"/>        
                    <?php echo $_SESSION['user_name']?>
                
            </p>
            
            <input type="submit"/>
        
        </form>
    </body>